body {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #3D4BEB;
}

table {
    border: 1px solid #6B6351;
}

h2 {
    color: #3DB9EB;
}

body {
    background-color: #EBB13D;
}

button {
    margin: 10px;
}


