header h1{
color: #FFFA9E;    /* header color rule */

}
body {
  font-family: 'Roboto', sans-serif; /* r1 font Rule */
  background-color: #FFFEF2;  /* r2 background color rule */
  color: #333;
  margin: 20px;
}
nav a {
  color: orange; 
  margin: 0 10px;
  text-decoration: none;
}
table, th, td {
  border: 1px solid  #333;  /* r4 tabl borders */
  border-collapse: collapse;
}
nav a:hover {
  color: #9EFFCB; /* r5 hover */
}
footer {
  background-color: #BAFF9D;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
#experience {
  background-color: #D3FF57;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}