body{
    color: #F2F2F2;
    background-color: #000000;
    margin: 0;
    font-family: "Newsreader", sans-serif;
}

header{
    position: sticky;
    top: 0;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #F2F2F2;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.logo {
    font-weight: 700;
    letter-spacing: 1px;
}


nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: #F2F2F2;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 30px;
}

.nav-links a:hover {
    color: #5DA668;
}


.home h2 {
    font-size: 3rem;
    font-weight: 900;
}

.highlight {
    color: #5DA668;
}

.home {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}
.about, .experience {
    max-width: 600px;
    margin: 100px auto;
    text-align: left;
    align-items: center;
    font-size: 20px;
}

.about h2, .experience h2 {
    text-align: left;
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F2F2F2;
    color: #0D0D0D;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
}

.btn:hover {
    background-color: #5DA668;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}



.Graphic-Design-1-hex { color: #878B8C; }
.Graphic-Design-2-hex { color: #5DA668; }
.Graphic-Design-3-hex { color: #4A7348; }
.Graphic-Design-4-hex { color: #F2F2F2; }
.Graphic-Design-5-hex { color: #0D0D0D; }

